.volunteers {
  justify-content: center;
  padding: 0 0 50px 0;
  /* background-image: url(../../images/mona-eendra-vC8wj_Kphak-unsplash.jpg); */
  background: linear-gradient(#f1f1f1, #cbcbcb);
  max-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow:  5px 0 25px rgba(0, 0, 0, 0.5),
  -5px 0 25px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 767px) {
  .volunteers {
    padding: 36px 30px 0;
  }
}

@media screen and (max-width: 560px) {
  .volunteers {
    padding: 36px 19px 0;
  }
}

.volunteers__title-main {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin: 40px auto 40px auto;
}

.volunteers__container {
  max-width: 1060px;
  max-height: 363px;
  margin: 0;
  padding: 0 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.volunteers__picture {
  border-radius: 35px;
}



.volunteers__picture:nth-child(1) {
  /* flex-basis: 50%; */
  /* box-sizing: border-box; */
  max-width: 630px;
  max-height: 363px;

}

.volunteers__picture:nth-child(2) {
  /* flex-basis: 50%; */
  /* box-sizing: border-box; */
  max-width: 357px;
  max-height: 363px;
} 

.volunteers__title {
  font-size: 36px;
  color: #000;
  text-align: justify;
  padding: 40px 60px;
  max-width: 1060px;
  min-height: 225px;
  margin: 0;

}

.logo__title {
  font-size: 42px;
  position: absolute;
  bottom: 16%;
  left: 49%;
  transform: translate(-50%, -50%);
}


.volunteers__container-second {
  max-width: 1060px;
  max-height: 363px;
  margin: 0;
  padding: 60px 60px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.volunteers__image {
  border-radius: 35px;
}

.volunteers__image:nth-child(1) {
  max-width: 273px;
  max-height: 298px;
  width: 100%;
}

.volunteers__image:nth-child(2) {
  max-width: 273px;
  max-height: 298px;
  width: 100%;

}

.volunteers__image:nth-child(3) {
  max-width: 364px;
  max-height: 298px;
  width: 100%;
}