.help {
  justify-content: center;
  /* padding: 50px 60px 50px 60px; */
  /* background-image: url(../../images/mona-eendra-vC8wj_Kphak-unsplash.jpg); */
  background-color: #e1e1e1;
  max-height: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow:  5px 0 25px rgba(0, 0, 0, 0.5),
  -5px 0 25px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 767px) {
  .help {
    padding: 36px 30px 0;
  }
}

@media screen and (max-width: 560px) {
  .help {
    padding: 36px 19px 0;
  }
}

.help__title-main {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin: 57px auto 24px auto;
}

.help__title {
  font-size: 28px;
  color: #000;
  padding-left: 40px;
  padding-right: 40px;
}


.help__list-item {
  color: #000;
  font-size: 28px;
  margin-left: 40px;
  margin-right: 40px;
}

.help__title-bottom {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin: 30px auto 50px auto;
}