.main {
  max-width: 1080px;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); */
  box-shadow:  5px 0 25px rgba(0, 0, 0, 0.5),
              -5px 0 25px rgba(0, 0, 0, 0.5);

}

/* .main__logo-container {
  max-width: 100%;
  max-height: 722px;
  display: flex;
  flex-direction: column-reverse;
}

.main__header {
  position: absolute;
  top: 80px;
  left: 35px;
  color: #000;
}

.main__picture {
  max-width: 100%;
  max-height: 100%;
}

.main__text {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  max-width: 100%;
  height: 207px;
  background: linear-gradient(#ff9900, #DFFAF6);
  margin: 0 0;
}

.main__subtitle {
  background: transparent;

  color: #ffffff;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: end;
} */








/* .main__image-container {
  position: relative;
}

.main__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.main__header,
.main__subtitle {
  margin: 0;
}

.main__header {
  font-size: 24px;
}

.main__subtitle {
  font-size: 18px;
} */



.main__image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column-reverse;
}

/* .main__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
} */

.main__header,
.main__subtitle {
  margin: 0;
}

.main__header {
  font-size: 24px;
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);

}

.main__picture {
  max-width: 100%;
  max-height: 100%;
}

/* .main__subtitle {
  font-size: 18px;
  background: transparent;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.main__description-list {
  font-size: 18px;
  background: transparent;
  position: absolute;
  bottom: 1%;
  left: 0%;
  transform: translate(6%, 5%);
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  max-width: 960px;
  justify-content: space-between;
  /* margin: 0 auto 0 auto; */

}

.main__description-block {
  max-width: 20%;
}

.main__description-title {
  color: #8f5531;
  font-size: 14px;
  text-align: center;
}

.main__description-subtitle {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

