/* .description {
  max-height: 100%;
  width: 100%;
}

.dropdown {
  position: relative;
}


.dropdown-content {
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropbtn {
  background-color: #8f5531;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
} */


.description {
  max-height: 100%;
  width: 100%;
}

/* Стили для контейнера с выпадающим списком */
.dropdown {
  position: relative;
}

/* Скрыть выпадающий список по умолчанию */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета ссылок при наведении */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Скрытие невидимого чекбокса */
.dropdown-input {
  display: none;
}

/* Стили для кнопки, которая открывает список */
.dropbtn {
  background-color: #8f5531;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Отображение содержимого выпадающего списка при активном чекбоксе */
.dropdown-input:checked ~ .dropdown-content {
  display: block;
}

/* Отодвигание следующих списков на высоту открытых элементов */
.dropdown-input:checked ~ .dropdown + .dropdown .dropdown-content {
  transform: translateY(-100%);
}