.header {
  margin: 0;
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  max-width: 100%;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #ff9900;
}

.header__logo {
  margin: 18 auto 18px 70px;
  width: 83.65px;
  height: 70px;
}

.header__logo:hover {
  opacity: 0.5;
}




.header__link {
  display: block;
  width: 83.65px;
  height: 70px;
}

.header__list-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.header__list-link {
  padding: 8px 30px;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 22px;
  line-height: 16px;
  display: block;
  border-radius: 6px;
  text-decoration: none;
}

.header__list-link:hover {
  opacity: 0.5;
}

.header__list-link_type_button {
  color: #FFFFFF;
}

.header__button {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  border: none;
  background-color: #3456f3;
}

@media screen and (max-width: 810px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    padding: 0 14px;
  }

  .header__list-link {
    padding: 8px 14px;
    font-size: 10px;
  }

  .header__button {
    width: 54px;
    height: 26px;
  }
}